@model VacationPlanner.ViewModels.CityViewModel
@{
    ViewData [ "Title" ] = "Search";
   
}

<h1>Where are you headed?</h1>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Datepicker - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<form asp-controller="City" asp-action="AddCity" id="address" method="post">



    <div class="form-group">

        <input id="address" class=" form-control" asp-for="Name" placeholder="Search for a city." autofocus required/>

        <span asp-validation-for="Name"></span>


        <input type="date"   id="date0" asp-for="StartDate" name="StartDate" placeholder="Choose a start date"/>
        <input type="date"   id="date1" asp-for="EndDate" name="EndDate" placeholder="Choose an end date"/>

    </div>
    <button type="submit" class="btn btn-primary" value="Encode" onclick="codeAddress()">Search</button>


</form>
<script>
    Date.prototype.toDateInputValue = (function() {
        var local = new Date(this);
        local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
        return local.toJSON().slice(0,10);
    });
    $(document).ready( function() {
        $('#date0').val(new Date().toDateInputValue());
        $('#date1').val(new Date().toDateInputValue());
    });
</script>


