@model IList<VacationPlanner.Models.City>

<!DOCTYPE html>
<html>
<head>
   
</head>
<body>

<table class="table">
    <tr>
        <th>City</th>
    </tr>

    @foreach (var city in Model)
    {
        <tr>
            <td>

                <a asp-controller="Event" asp-action="ViewEvents" asp-route-id="@city.ID">@city.Name</a>
            </td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>No destinations yet!</p>
}

<br/>
    <div style="padding-bottom:100px">
        <h6> <a asp-controller="City" asp-action="RemoveCities">Remove Cities</a></h6>
    </div>

</body>
</html>